
.parent{
    height: 700px;
    width: 90%;
    background-color: green;
    color: white;
    margin: auto;
    padding: 20px;
   
}

.child{
  background-color: orange;
  border: 1px solid red;
  height: 200px;
  width: 50%;
  margin-top: 10px;
  margin: auto;
}

.box-1{
   
    background-color: blueviolet;
}

@media (min-width:500px) and (max-width:600px) {
  
 .parent{
    background-color: teal;
 }

}


@media only screen and (orientation: landscape) {
  
    .parent{
       background-color: purple;
    }
   
   }

